@tailwind base;
@tailwind components;
@tailwind utilities;
.top{
    background-image: url('./img/img\ \(1\).png');
    background-size: 120%;
    background-repeat: no-repeat;
}
.sec3{
    background-image: url('./img/img\ \(12\).png');
    background-size: 140%;
    background-repeat: no-repeat;
}